/* src/App.css */
.map-container {
  height: 100vh;
  width: 100%; 
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.recenter-button {
  position: absolute;
  bottom: 20px;      
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
  transition: background-color 0.2s;
}

.recenter-button:hover {
  background-color: #f2f2f2;
}

.tracking-controls {
  position: absolute;
  bottom: 70px; /* Располагаем над кнопкой ре-центра */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  display: flex;
  gap: 10px; /* Расстояние между кнопками */
  background-color: rgba(35, 55, 75, 0.8);
  padding: 8px;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* Общий стиль для кнопок управления */
.control-button {
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.control-button:hover {
  transform: scale(1.05);
}

/* Цвета для разных кнопок */
.start-button, .resume-button {
  background-color: #28a745; /* Зеленый */
}

.pause-button {
  background-color: #ffc107; /* Желтый */
  color: #333;
}

.stop-button {
  background-color: #dc3545; /* Красный */
}