@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.user-dot {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  background-color: #3b82f6; /* bg-blue-500 */
  border-radius: 9999px; /* rounded-full */
  border: 2px solid white;
  box-shadow: 0 0 0 3px #3b82f680; /* A soft outer glow */
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

